@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

body {
  font-family: "Red Hat Display", Georgia, "Times New Roman", Times, serif;
  background-color: black;
  color: white;
}
main {
  background: radial-gradient(
      91.96% 141.6% at -22.42% 69.4%,
      rgba(127, 0, 255, 0.46) 0,
      transparent 100%
    ),
    radial-gradient(
      84.26% 129.74% at 50% 125.36%,
      rgba(255, 0, 230, 0.46) 0,
      transparent 100%
    ),
    radial-gradient(
      58.7% 90.38% at 113.99% 96.18%,
      rgba(255, 0, 107, 0.43) 0,
      transparent 100%
    ),
    radial-gradient(
      56.68% 87.27% at 27.94% 112.07%,
      rgba(0, 255, 224, 0.43) 0,
      transparent 100%
    );
}

@layer components {
  .bg-custom-gradients {
    background: radial-gradient(
        91.96% 141.6% at -22.42% 69.4%,
        #7f00ff75 0,
        transparent 180%
      ),
      radial-gradient(
        84.26% 129.74% at 50% 125.36%,
        rgba(255, 0, 230, 0.46) 0,
        transparent 180%
      ),
      radial-gradient(
        58.7% 90.38% at 113.99% 96.18%,
        rgba(255, 0, 107, 0.43) 0,
        transparent 180%
      ),
      radial-gradient(
        56.68% 87.27% at 27.94% 112.07%,
        rgba(0, 255, 224, 0.43) 0,
        transparent 180%
      );
  }
}


.bg-custom {
  background: linear-gradient(216.04deg, #ffffff0f 18.89%, #ffffff03 87.3%);
}

.contact-btn {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
}

.contact-btn {
  border-radius: 99rem;
  border-width: 2px;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
}
.contact-btn span {
  display: grid;
  inset: 0;
  place-items: center;
  position: absolute;
  transition: opacity 0.2s ease;
}
.contact-btn .marquee {
  --spacing: 12em;
  --start: 0em;
  --end: 12em;
  -webkit-animation: marquee 4s linear infinite;
  animation: marquee 4s linear infinite;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  opacity: 1;
  position: relative;
  text-shadow: #fff var(--spacing) 0, #fff calc(var(--spacing) * -1) 0,
    #fff calc(var(--spacing) * -2) 0;
}
.contact-btn:hover .marquee {
  -webkit-animation-play-state: running;
  animation-play-state: running;
  opacity: 1;
}

@-webkit-keyframes marquee {
  0% {
    transform: translateX(var(--start));
  }
  to {
    transform: translateX(var(--end));
  }
}
@keyframes marquee {
  0% {
    transform: translateX(var(--start));
  }
  to {
    transform: translateX(var(--end));
  }
}

.Btn:hover {
  width: 14rem;
}

.Btn:hover .sign {
  width: 30%;
  padding-left: 20px;
}

.Btn:hover .text {
  width: 80%;
  opacity: 1;
  padding-right: 20px;
}

.Btn:active {
  transform: translate(2px, 2px);
}

